<section>
    <div class="container placed">
        <div class="row text-center">
            <div class="col-md-12 ">
                <h3>Order Placed Successfully</h3>
            </div>
        </div>
        <div class="row">
            <div class="orderlist">
        <div>
            <a href="/order-list"><button class="btn btn-primary " >View Orders</button></a>
        </div>
    </div>
        </div>
    </div>
    
</section>

<style>
.placed{
    width: 900px;
    height: 250px;
    border: 1px solid  ;
    padding: 60px;
    margin-top: 20px;
    border: none;
    box-shadow: 10px 10px 10px 5px rgb(243, 140, 140);
    margin-top: 40px;
    text-align: center;
    text-shadow: 5px 5px 10px rgb(247, 172, 182);
}
.orderlist{
    margin-top: 20px;
    padding-left: 350px;
}
</style>

